<a href="https://colab.research.google.com/github/tomcat472/python_oop/blob/main/Python_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Class

In [1]:
class Student:
  def __init__(self,name,age,mark):
    self.name=name
    self.age=age
    self.mark=mark

In [2]:
s1=Student('Jack',20,540)

In [3]:
print(s1)

<__main__.Student object at 0x7f85c73e0390>

In [4]:
print(s1.name)
print(s1.age)
print(s1.mark)

Jack
20
540

In [5]:
s2=Student('Jerry',21,550)
print(s2.name,s2.age,s2.mark)

Jerry 21 550

# Method

In [6]:
class Student:
  def __init__(self,name,age,mark):
    self.name=name
    self.age=age
    self.mark=mark
  def result(self):
    if self.mark >= 240:
      return 'Pass'
    else:
      return 'Fail'

In [7]:
s3=Student('tom',22,240)
s4=Student('Bon',20,220)
print(s3.result())
print(s4.result())

Pass
Fail

# Method Exercise

In [8]:
# exercise1
class Man:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def old_or_not(self):
    if self.age >=65:
      return "old"
    else:
      return "not old"

In [9]:
m1=Man('Jame',45)
m2=Man('Eaa',50)
m3=Man('Kala',66)
m4=Man('Luke',60)
m5=Man('Jerry',70)

In [10]:
mans=[m1,m2,m3,m4,m5]
old_man=[]
not_old_man=[]
man_result={}
for x in mans:
  if x.old_or_not()=='old':
    old_man.append(x.name)
    man_result['old_man']=old_man
  else:
    not_old_man.append(x.name)
    man_result['not_old_man']=not_old_man

In [11]:
man_result

{'not_old_man': ['Jame', 'Eaa', 'Luke'], 'old_man': ['Kala', 'Jerry']}

In [12]:
# exercise 2
class Product:
  def __init__(self,name,price):
    self.name=name
    self.price=price
  def discount(self,discountvalue):
    disscountAmount=(self.price/100)*discountvalue
    final_price=self.price-discountvalue
    return final_price

In [13]:
laptop=Product('Lenovo',550000)
laptop.discount(20)

549980

In [14]:
laptop.price

550000